body {
  background: #000;
  font-family: arial;
}

.boxes {
  display: flex;
  flex-direction: column;
}

.box {
  border: 5px solid #fff;
  margin: 5px auto;
  padding: 40px;
  border-radius: 10px;
  color: #fff;
  font-size: 20px;
  text-align: center;
  background: #335;
  width: 200px;
  cursor: move;
}

.box.over {
  border: 5px dashed #fff;
}
